* {
  font-family: inter, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

header {
  display: flex;
  gap: 10px;
  height: 55px;
  align-items: center;
  justify-content: center;
  background-color: #F55A5A;
  padding: 10px;
}

.logo {
  width: auto;
  height: 20px;
}

main {
  padding: 50px 0 0 40px;
}

.title-text {
  font-size: 0.875rem;
  font-weight: 500;
}

.entry-image {
  width: 125px;
  height: 168px;
  overflow: hidden;
}

.entry-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

